/* font-stayles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* Header-styles */
.header{
    background-color: #2D25A0;
}

.home{
     padding-top: 40px;
      
}
.home-ancore{
    text-decoration: none;  
    color: #FFFFFF;
    padding-left: 40px;
}  
.home-ancore:hover{
    background-color: pink;

}
.frist-header{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    
    padding-top: 30px;
    padding-bottom: 50px;
}
.header-write{
    font-size: 64px;   
    color: #FFFFFF;
    margin: 0;
    width: 485px;
    height: 230px;
    margin-bottom: 70px;
}
.ancore-header{
    text-decoration: none;
    width: 88px;
    height: 24px;
    padding: 10px 24px;
    color: #FFFFFF;
    background-color: #E02C6D;
    border-radius: 10px;
    
}
.ancore-header:hover{
    background-color: pink;
}
.fa-arrow-right{
    margin-left: 3px;
    width: 5px;
}
.header-pic img{
    width: 556.01px;
    height: 438px;
}
/* Style of players */
.containar{
    margin-top: 85px;
}
.top-playrs{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-row-gap: 30px;
    margin-left:350px;
    margin-right: 305px;
    
    
}

.player{
    padding-left: 25px;
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
}
.players .player img{
    width: 250px;
    height: 250px;
    padding:30px;
    align-content: center;
    border-radius: 45px;
    
}
.name{
    font-size: 28px;
    padding-left: 30px;
    margin: 0;
}
.about{
    font-size: 16px;
    color: #6C6C6C;
    width: 250px;
    height: 124px;
    padding-left: 30px;
    padding-bottom: 30px;
}
/* Copa amirica */
.copa{
    display: flex ;
    align-items: center;
    justify-content: space-around;
    margin: 165px 50px 0 50px ;
    padding-bottom: 50px;


}
.writting{
    margin-left: 182px;
}
.copa-write{
    font-size: 64px; 
    margin: 0;
    color: #0A0826;;
    width: 485px;
    height: 230px;
    margin-bottom: 50px;
}
.copa-about{
    margin-bottom: 25px;
    color: #6C6C6C;
}
.copa-pic img{
    margin-right: 152px;
    border-radius: 45px;
}
/* footer styles */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer img{
    width: 483.87px;
    height: 110px;
}
.fab{
    background: #969BAB;
    margin-bottom: 20px;
} 

/* Media quries */
@media screen and (max-width:767px) {
    /* herder style */
    .head{
        display: none;
    }
    .frist-header{
        display: flex;
        flex-direction: column;
    }
    .header-write{
        font-size: 36px;
        width: 278px;
        height: 138px;
    }
    .header-pic img{
        width: 329px;
        height: 259.17px;
        margin-top: 46px;
    }
    .writting{
        margin: 0;
    }
    .ancore-header{
        text-decoration: none;
        width: 168px;
        height: 44px;
        color: #FFFFFF;
        background-color: #E02C6D;
        border-radius: 10px;
    }
    /* header style end */
    /* top player style start */
    .containar{
        width: 300px;
        margin-top: 85px;
        margin-right: 0;
    }
    .top-playrs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-left: 15px;
        margin-right: 0;
        width: 300px;

    }
    .players{
        width: 300px;
        margin-left: 60px;
        
    }
    .player{
        padding: 0;
    }

    /* top player end */
 
    /* copa  style started */
    .copa{
        display: flex;
        flex-direction: column;
        margin-top: 60px;
        margin-left: 0px;
        margin-right: 0;
    }
    .copa-write{
        font-size: 30px;
        margin-bottom: 0;
        width: 294px;
        height: 80px;
    }
    .copa-pic img{
        width: 328px;
        height: 248px;
        margin-right: 0;
       
    }
    .copa-about{
        width: 329px;
        height: 143px;
    }
    /* copa end */



    /* footer started */
    footer{
        display: flex;
        flex-direction: column;

    }
    .footer-start img{
        width: 190px;
        height: 63px;
        margin-top: 43px;
    }



}